<!DOCTYPE html>
<html>
  <head>
    <title>GithubUsersSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="navbar navbar navbar-fixed-top">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 logo-div hidden-xs">
              <%= image_tag "https://i.imgur.com/wOtQ7Wy.png", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
              <%= image_tag "https://i.imgur.com/Bse9dO5.jpg", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
              <%= image_tag "https://i.imgur.com/kfsClYP.jpg", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
              <h2 class="navbar-brand">Github User Search</h2>
              <%= image_tag "https://i.imgur.com/SRxZLYe.png", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
              <%= image_tag "https://i.imgur.com/o2lTMFX.jpg", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
              <%= image_tag "https://i.imgur.com/JyZdDG1.png", :width=> "70px", :height=> "70px", :class=> "logo navbar-left" %>
            </div>
          </div>         
        </div>
      </div>
    </nav>
    <div class="container search">
      <div class="row">
        <div class="col-md-5 col-md-offset-5 search-bar">
          <div class="input-group">
            <%= form_tag("/search", method: "get", remote: true) do %>
              <%= text_field_tag(:query, nil, class: "form-control", placeholder: "search for a user") %>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <p class="totop"> 
              <a href="#top">Back to top</a> 
          </p>
        </div>
        <div class="col-md-4 col-md-offset-4 content-container">
          <div class="content user-content"></div>
          <div class="follower-count"></div>
          <div class="content follower-content"></div>
          <a href="#" id="loadMore">Load More</a>
        </div>
      </div>
    </div>
    

    </p>
  </body>
</html>